* {
  letter-spacing: 0.065rem;
  line-height: 1.5rem;
  font-family: 'Raleway', FontAwesome, sans-serif;
  color: #2a2a2a;
  cursor: default;
  transition: all 0.25s !important;
}

body {
  margin: 0%;
}

p, h1 {
  margin: 0.5% 0% 01.5% 0%;
}

@media (min-width: 1024px) and (max-width: 1550px) {
  p, h1 {
    font-size: 0.9rem;
  }
}

a, a i {
  color: #2a2a2a;
  cursor: pointer !important;
  text-decoration: none;
}

span a {
  font-weight: bold;
}

span a:hover {
  color: #5dc6b3;
}

button {
  text-align: center;
  cursor: pointer;
}

nav {
  background-color: white;
  position: fixed;
  z-index: 10;
  width: 100vw;
}

nav i {
  font-size: 1.25rem !important;
}

nav .nav-left {
  float: left;
}

nav .nav-right {
  float: right;
}

nav ul {
  margin: auto;
  width: 1366px;
  list-style: none;
  box-sizing: border-box;
}

@media (min-width: 1024px) and (max-width: 1550px) {
  nav ul {
    width: 966px;
  }
}

nav li {
  cursor: pointer;
  text-transform: uppercase;
  display: inline-block !important;
  padding: 1.5% 2.5% 1.5% 0%;
}

nav li a {
  letter-spacing: 0.15rem;
  padding: 10px;
}

nav li:hover a, nav li:hover i {
  color: #5dc6b3;
}

.cta-button, button[type="submit"], #signup {
  background-color: #5dc6b3;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  font-size: 0.9rem;
  border: 1px solid #5dc6b3;
  padding: 0.75% 1.25% 0.75% 1.25%;
  color: #fcfcfc;
  width: 100%;
}

.cta-button:hover, button[type="submit"]:hover, #signup:hover {
  background-color: transparent;
  border-color: #2a2a2a;
  color: #2a2a2a;
}

.cta-button:hover a, button[type="submit"]:hover a, #signup:hover a {
  color: #2a2a2a;
}

.cta-button a, button[type="submit"] a, #signup a {
  color: #fcfcfc;
}

button:hover, button:focus, button:active {
  outline: none !important;
}

.content {
  margin: 0% auto 0% auto;
  padding: 0%;
  margin-bottom: 0%;
  position: relative;
}

.content h5 {
  font-size: 1.5rem;
  color: #505050;
}

.content section {
  margin: 0% auto 0% auto;
  max-width: 1366px;
  min-height: 100vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  padding: 2.5% 0% 2.5% 0%;
}

@media (min-width: 1024px) and (max-width: 1550px) {
  .content section {
    max-width: 966px;
  }
}

.content #home {
  font-weight: 300 !important;
  margin-bottom: 0%;
}

.content #home h1 {
  margin-bottom: 2.5%;
  font-weight: 200;
  font-size: 9rem;
  letter-spacing: 0.5rem;
  color: #5dc6b3;
}

@media (min-width: 1024px) and (max-width: 1550px) {
  .content #home h1 {
    font-size: 6.5rem;
  }
}

.content #home h5 {
  margin-top: 2.75%;
}

@media (min-width: 1024px) and (max-width: 1550px) {
  .content #home h5 {
    font-size: 1.25rem;
  }
}

.content #home #scroll {
  margin-top: 1%;
  width: inherit;
}

.content #about p {
  line-height: 1.75rem;
}

@media (min-width: 1024px) and (max-width: 1550px) {
  .content #about p {
    line-height: 1.5rem;
  }
}

footer {
  text-align: right;
  letter-spacing: 0.075rem;
  font-size: 0.95rem;
}

footer ul {
  padding: 0%;
  margin: auto;
  width: 1366px;
  list-style: none;
  box-sizing: border-box;
}

@media (min-width: 1024px) and (max-width: 1550px) {
  footer ul {
    width: 966px;
  }
}

footer span a {
  font-weight: 600;
}

footer li {
  cursor: pointer;
  text-transform: uppercase;
  display: inline-block !important;
  padding: 2.5% 0% 2.5% 0.75%;
}

footer li i {
  font-size: 1.125rem !important;
}

footer a:hover, footer a i:hover {
  color: #5dc6b3;
}

.about-box {
  text-align: center;
  width: 30%;
}

#banner {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  margin: 0px 0px 25px 0px;
  height: 300px;
  width: 100%;
  background-position: center;
  background-image: url("../img/about-banner.png");
}

#banner h5 {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
  background-color: rgba(252, 252, 252, 0.65);
  padding: 1.5%;
  display: inline;
  font-size: 1.15rem;
  color: #0a0a0a;
  font-weight: 600;
}

#banner:hover h5 {
  background-color: #fcfcfc;
}

form {
  width: 500px;
  padding: 1%;
}

label {
  margin-top: 5%;
  display: block;
  cursor: default;
  font-size: 1.15rem;
}

@media (min-width: 1024px) and (max-width: 1550px) {
  label {
    margin-top: 5%;
    font-size: 1rem;
  }
}

input {
  font-size: 1rem;
  background-color: transparent !important;
  width: 100%;
  margin-top: 0.75%;
  padding: 2.5% 0% 2.5% 0%;
  outline: none;
  background: transparent !important;
  box-shadow: none !important;
  border: 0px transparent !important;
  border-bottom: 2px solid #aaaaaa !important;
  cursor: text;
}

input:focus {
  border-color: #5dc6b3 !important;
}

@media (min-width: 1024px) and (max-width: 1550px) {
  input {
    margin-top: 0.5%;
    padding: 1.75% 0% 1.75% 0%;
    font-size: 0.9rem;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  background-color: transparent !important;
}

button[type="submit"], #signup {
  width: 245px;
  margin-top: 5%;
  padding: 2.5%;
}

@media (min-width: 1024px) and (max-width: 1550px) {
  button[type="submit"], #signup {
    margin-top: 7.5%;
    padding: 1.75%;
    font-size: 0.9rem;
  }
}

.success, .error {
  color: #5dc6b3;
  font-weight: bold;
  padding: 5% 0% 0% 0%;
}

#signup {
  margin-left: 10px;
}

#signup a {
  color: #fcfcfc;
  letter-spacing: 0.15rem;
}

#signup:hover a {
  color: #2a2a2a;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

#aboutinfo {
  width: 100%;
}

#aboutinfo .left, #aboutinfo .right {
  width: 48%;
  margin-top: 1.5%;
}

#aboutinfo .right {
  height: 500px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../img/home.jpg");
  margin-left: 2.5%;
}

#aboutinfo .right img {
  width: 100%;
}

.foodinfo {
  width: 100%;
  margin-left: 1.5%;
}

.foodinfo .left, .foodinfo .right {
  vertical-align: top;
  margin: 2.5% 1.25% 2.5% 1.25%;
}

.foodinfo .left {
  width: 35%;
}

.foodinfo .right {
  width: 60%;
}

.foodinfo img {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  max-width: 90%;
}

.foodinfo h3 {
  margin: 5% 0% 5% 0%;
  padding: 0%;
  color: #5dc6b3;
  font-size: 2rem;
}

@media (min-width: 1024px) and (max-width: 1550px) {
  .foodinfo h3 {
    font-size: 1.75rem;
  }
}

.foodinfo h5 {
  margin: 2.5% 0% 2.5% 0%;
  font-size: 1.05rem;
}

.foodinfo h5 span {
  color: #5dc6b3;
  margin-right: 2.5%;
}

@media (min-width: 1024px) and (max-width: 1550px) {
  .foodinfo h5 {
    font-size: 0.915rem;
  }
}

.foodinfo p {
  font-size: 1.15rem;
  margin: 0% 0% 1.75% 0%;
}

@media (min-width: 1024px) and (max-width: 1550px) {
  .foodinfo p {
    font-size: 1rem;
  }
}

.foodinfo p span {
  font-weight: bold;
  color: #5dc6b3;
  margin-right: 2.5%;
}

.foodcategory {
  margin-top: -2.5%;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
  width: 600px;
  height: 400px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  float: left;
}

@media (min-width: 1024px) and (max-width: 1550px) {
  .foodcategory {
    width: 468px;
    height: 312px;
  }
}

.foodcategory span {
  background-color: rgba(42, 42, 42, 0.35);
  padding: 10px;
  cursor: pointer;
  color: #fcfcfc;
  letter-spacing: 0.75rem;
  font-size: 2.5rem;
}

@media (min-width: 1024px) and (max-width: 1550px) {
  .foodcategory span {
    font-size: 1.75rem;
  }
}

.foodcategory:hover {
  -webkit-filter: brightness(80%);
  filter: brightness(80%);
}

#fc-herbs {
  margin-right: 15px;
  background-image: url("../img/food-herb.png");
}

#fc-recipes {
  margin-left: 15px;
  background-image: url("../img/food-recipes.png");
}

#signuptoday {
  min-height: 450px !important;
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-size: contain;
}

#signuptoday h3, #signuptoday a {
  left: 10%;
  position: absolute;
}

#signuptoday h3 {
  font-size: 1.75rem;
  top: 27.5%;
}

@media (min-width: 1024px) and (max-width: 1550px) {
  #signuptoday h3 {
    font-size: 1.25rem;
  }
}

#signuptoday a {
  top: 45%;
}

@media (min-width: 1024px) and (max-width: 1550px) {
  #signuptoday {
    min-height: 350px !important;
  }
}

.settings {
  width: inherit;
  float: left;
  margin-bottom: 2.5%;
}

.fa-pencil-square-o {
  font-size: 1.25rem;
}

.fa-pencil-square-o:hover {
  color: #5dc6b3;
}

#accountinfo .info {
  text-align: center;
}

#accountinfo h3 {
  width: 100%;
  margin-top: 0%;
  color: #5dc6b3;
  font-size: 5rem;
}

@media (min-width: 1024px) and (max-width: 1550px) {
  #accountinfo h3 {
    font-size: 3.5rem;
  }
}

#accountinfo h3 span {
  color: #5dc6b3;
}

#accountinfo p {
  font-size: 1.5rem;
  line-height: 2.5rem;
}

#accountinfo p span {
  font-weight: bold;
  margin-right: 2.5%;
}

@media (min-width: 1024px) and (max-width: 1550px) {
  #accountinfo p {
    font-size: 1.25rem;
  }
}

#accountinfo button {
  width: 200px;
  text-align: center;
  padding: 10px;
  margin-top: 5%;
}

#foodinfo .info {
  margin: auto;
  width: 750px;
  text-align: left;
}

#foodinfo h3 {
  margin-top: 5%;
  color: #5dc6b3;
  font-size: 2.5rem;
}

#foodinfo p {
  padding: 2.5%;
  margin: 0% 0% 2.5% 0%;
  font-size: 1rem;
  border-bottom: 1px #5dc6b3 solid;
}

#foodinfo p span {
  font-weight: bold !important;
  margin-right: 5%;
}

#foodinfo button {
  width: 48%;
  margin-left: 1%;
  text-align: center;
  padding: 1.75%;
  margin-top: 1.5%;
}

.gradient {
  max-width: 100vw !important;
  padding-top: 2.5%;
  /* For Safari 5.1 to 6.0 */
  /* For Opera 11.1 to 12.0 */
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #e6fcf3, #e6eefc);
  /* Standard syntax */
}

.formTitle, .formTitle2 {
  color: #5dc6b3;
  font-size: 2.5rem;
  margin: 0%;
  padding: 5% 0% 2.5% 0%;
}

.formTitle2 {
  padding: 0%;
}

#checker {
  padding-top: 2.5%;
}

#checker .checkerMsg {
  padding: 1.25% 0% 1.25% 0%;
}

#checker table {
  display: none;
}

#checker .formTitle, #checker .formTitle2 {
  margin: 4.5% 0% 1% 0%;
}

#pageloader, #tableloader {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  z-index: 5000;
}

.filter {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  width: 97.5%;
  margin: 1.5% auto 2% auto;
}

.filter * {
  padding: 0.5%;
  margin: 0.5%;
  width: inherit;
  display: inline;
  float: left;
}

.filter select {
  outline: none;
  width: 25%;
  font-size: 0.95rem;
}

.filter select:hover, .filter select:focus {
  border-color: #5dc6b3;
}

.filter option {
  border-color: #5dc6b3;
}

.filter label {
  font-size: 0.9rem;
  font-weight: bold;
  width: 5%;
}

.filter input {
  width: 45%;
  margin-left: 2.5%;
}

.filter button {
  width: 25%;
}

.filter i {
  width: 1%;
}

/*# sourceMappingURL=app.css.map */
