* {
  letter-spacing: 0.035rem;
  font-family: 'Roboto', sans-serif;
  color: #404040;
  cursor: default;
  transition: all 0.25s !important;
}

p {
  margin: 2.5% 0% 5% 0%;
}

@media (min-width: 1024px) and (max-width: 1550px) {
  p {
    font-size: 0.9rem;
  }
}

a, a i {
  color: #404040;
  cursor: pointer;
}

nav {
  background-color: white;
  position: fixed;
  z-index: 10;
  width: 100vw;
}

nav i {
  font-size: 1.5rem !important;
}

nav .nav-left {
  text-align: left;
}

nav .nav-right {
  float: right;
}

nav ul {
  margin: auto;
  width: 1366px;
  list-style: none;
  box-sizing: border-box;
}

@media (min-width: 1024px) and (max-width: 1550px) {
  nav ul {
    width: 966px;
  }
}

nav li {
  cursor: pointer;
  text-transform: uppercase;
  display: inline-block !important;
  padding: 2.5% 2% 1% 2%;
  border-bottom: transparent 2px solid;
}

nav li a {
  letter-spacing: 0.15rem;
  margin-bottom: -2.5px !important;
}

nav li:hover a, nav li:hover i {
  color: #309c8d;
}

nav li:hover {
  border-color: #309c8d;
}

.container {
  min-height: 100vh;
  position: relative;
  max-width: 1366px;
  margin: 0% auto 0% auto !important;
  box-sizing: border-box;
}

@media (min-width: 1024px) and (max-width: 1550px) {
  .container {
    max-width: 966px;
  }
}

.cta-button, button[type="submit"], #signup {
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  font-size: 0.8rem;
  border: 1px solid #b5b5b5;
  padding: 0.75% 1.25% 0.75% 1.25%;
  color: #404040;
}

.cta-button:hover, button[type="submit"]:hover, #signup:hover {
  background-color: transparent;
  border-color: #309c8d;
  color: #309c8d;
}

.content {
  width: 96.25%;
  margin: 0% auto 0% auto;
  padding: 0%;
  margin-bottom: 0%;
  position: relative;
}

.content h5 {
  font-size: 1.5rem;
  color: #666666;
}

.content section {
  min-height: 100vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  padding-top: 10%;
}

.content #home {
  margin-bottom: 0%;
}

.content #home * {
  position: absolute;
}

.content #home h1 {
  left: 0%;
  top: 30%;
  font-size: 8.5rem;
  letter-spacing: 0.25rem;
}

.content #home h1:hover {
  color: #309c8d;
}

@media (min-width: 1024px) and (max-width: 1550px) {
  .content #home h1 {
    font-size: 5.5rem;
  }
}

.content #home h5 {
  left: 0.75%;
  top: 50%;
}

@media (min-width: 1024px) and (max-width: 1550px) {
  .content #home h5 {
    font-size: 1.25rem;
  }
}

.content #home img {
  top: 15.5%;
  right: 0%;
}

@media (min-width: 1024px) and (max-width: 1550px) {
  .content #home img {
    width: 350px;
  }
}

.content #home .cta-button, .content #home button[type="submit"], .content #home #signup {
  left: 0.75%;
  top: 58%;
}

footer {
  text-align: right;
  letter-spacing: 0.075rem;
  font-size: 0.9rem;
}

footer ul {
  margin: auto;
  width: 1366px;
  list-style: none;
  box-sizing: border-box;
}

@media (min-width: 1024px) and (max-width: 1550px) {
  footer ul {
    width: 966px;
  }
}

footer li {
  cursor: pointer;
  text-transform: uppercase;
  display: inline-block !important;
  padding: 1.5% 0% 1.5% 0.75%;
}

footer li i {
  font-size: 1.125rem !important;
}

footer li a i:hover {
  color: #309c8d;
}

.box-wrapper {
  width: inherit;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: top;
  align-items: top;
}

.about-box {
  width: 30%;
}

.about-img {
  width: 100%;
  height: 30vh;
  background-color: gray;
  margin-bottom: 7.5%;
}

#userinfo {
  text-align: center;
  position: fixed;
  top: 20%;
  width: 15%;
}

#userinfo h5 {
  font-size: 1.25rem;
  text-align: center;
  margin: 25px 0 25px 0;
}

#userinfo .cta-button, #userinfo button[type="submit"], #userinfo #signup {
  padding: 5% 24% 5% 24%;
}

#banner {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  margin: 0px 0px 25px 0px;
  height: 300px;
  width: 100%;
  background-position: center;
  background-image: url("../img/about-banner.png");
}

#banner h5 {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
  margin-top: -2.5%;
  background-color: rgba(252, 252, 252, 0.65);
  height: 3.25rem;
  padding: 1.5%;
  display: inline;
  font-size: 1.15rem;
  color: #202020;
  font-weight: 600;
}

#banner:hover h5 {
  background-color: #fcfcfc;
}

label {
  cursor: default;
}

input {
  background: transparent !important;
  box-shadow: none !important;
  border: 0px transparent !important;
  border-bottom: 1px solid #ccc !important;
  cursor: text;
}

input:focus {
  border-color: #309c8d !important;
  background: white !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  background-color: transparent !important;
}

button[type="submit"], #signup {
  width: 240px;
  margin-top: 5%;
  padding: 2.5%;
  background-color: transparent;
}

#signup {
  margin-left: 20px;
}

#signup a {
  letter-spacing: 0.15rem;
}

#signup:hover a {
  color: #309c8d;
}

form {
  margin-top: -7.5%;
  width: 500px;
}

.foodinfo {
  width: 100%;
  margin-left: 1.5%;
}

.foodinfo .left, .foodinfo .right {
  vertical-align: top;
  margin: 2.5% 1.25% 2.5% 1.25%;
}

.foodinfo .left {
  width: 35%;
}

.foodinfo .right {
  width: 60%;
}

.foodinfo img {
  max-width: 90%;
}

.foodinfo h3 {
  margin: 5% 0% 2.5% 0%;
  padding: 0%;
  color: #309c8d;
  font-size: 2rem;
}

@media (min-width: 1024px) and (max-width: 1550px) {
  .foodinfo h3 {
    font-size: 1.75rem;
  }
}

.foodinfo h5 {
  margin: 2.5% 0% 2.5% 0%;
  font-size: 1.05rem;
}

.foodinfo h5 span {
  color: #309c8d;
  margin-right: 2.5%;
}

@media (min-width: 1024px) and (max-width: 1550px) {
  .foodinfo h5 {
    font-size: 0.915rem;
  }
}

.foodinfo p {
  font-size: 1.25rem;
  margin: 0% 0% 1.75% 0%;
}

@media (min-width: 1024px) and (max-width: 1550px) {
  .foodinfo p {
    font-size: 1rem;
  }
}

.foodinfo p span {
  color: #309c8d;
  margin-right: 2.5%;
}

.foodcategory {
  -webkit-box-shadow: inset 0px 0px 0px 10px rgba(255, 255, 255, 0);
  width: 600px;
  height: 450px;
  margin: 0% 15px 2.5% 15px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  background-color: #0d0d0d;
  float: left;
}

@media (min-width: 1024px) and (max-width: 1550px) {
  .foodcategory {
    width: 425px;
    height: 325px;
  }
}

.foodcategory span {
  cursor: pointer;
  color: #fcfcfc;
  letter-spacing: 0.75rem;
  font-size: 2.5rem;
}

@media (min-width: 1024px) and (max-width: 1550px) {
  .foodcategory span {
    font-size: 1.75rem;
  }
}

.foodcategory:hover {
  -webkit-box-shadow: inset 0px 0px 0px 10px #309c8d;
}

/*# sourceMappingURL=app.css.map */
