@import "mixins";
$baseColor: #2a2a2a;
$baseGreen: #5dc6b3;
$baseWhite: #fcfcfc;
$baseSize: 1rem;
*{
  letter-spacing: 0.065rem;
  line-height: 1.5rem;
  font-family: 'Raleway', FontAwesome, sans-serif;
  color: $baseColor;
  cursor: default;
  transition: all 0.25s!important;
}
body{
  margin: 0%;
}
p, h1{
  margin: 0.5% 0% 01.5% 0%;
  @include laptop{
    font-size: $baseSize*0.925
  }
  @include mobile{
    font-size: $baseSize*0.875
  }
}
a, a i{
  color: $baseColor;
  cursor: pointer!important;
  text-decoration: none;
}
span a{
  font-weight: bold;
  &:hover{
    color: $baseGreen;
  }
}
button{
  text-align: center;
  cursor: pointer;
}
nav{
  i{
    font-size: 1.25rem!important;
  }
  background-color: white;
  position: fixed;
  z-index: 10;
  width: 100vw;
  .nav-left{
    float: left;
  }
  .nav-right{
    float:right;
  }
  ul{
    margin: auto;
    width: 1366px;
    list-style: none;
    box-sizing: border-box;
    @include laptop{
      width: 966px;
    }
  }
  li{
    cursor: pointer;
    text-transform: uppercase;
    display: inline-block;
    padding: 1.5% 2.5% 1.5% 0%;
    a{
      letter-spacing: 0.15rem;
      padding: 10px;
    }
    &:hover a, &:hover i{
      color: $baseGreen;
    }
  }
  #bars{
    display: none;
  }
  @include mobile{
    .nav-right{
      float: left;
    }
    li{
      display: none;
      width: 100%;
    }
    #bars{
      display: inline-block;
    }
  }
}
.cta-button{
  background-color: $baseGreen;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  font-size: $baseSize*0.9;
  border: 1px solid $baseGreen;
  padding: 0.75% 1.25% 0.75% 1.25%;
  color: $baseWhite;
  width: 100%;
  &:hover{
    background-color: transparent;
    border-color: $baseColor;
    color: $baseColor;
    a{
      color: $baseColor;
    }
  }
  a{
    color: $baseWhite;
  }
  @include mobile{
    font-size: $baseSize*0.75;
  }
}
button{
  &:hover, &:focus, &:active{
    outline: none!important;
  }
}
.content{
  margin:0% auto 0% auto;
  padding: 0%;
  margin-bottom:0%;
  position: relative;
  h5{
    font-size: $baseSize*1.5;
    color: lighten($baseColor, 15%);
  }
  section{
    margin:0% auto 0% auto;
    max-width: 1366px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 2.5% 0% 2.5% 0%;
    @include laptop{
      max-width: 966px;
    }
    @include mobile{
      max-width: 90%;
      margin: auto;
    }
  }
  #home{
    font-weight: 300!important;
    margin-bottom: 0%;
    h1{
      margin-bottom: 2.5%;
      font-weight: 200;
      font-size: $baseSize*9;
      letter-spacing: 0.5rem;
      color: $baseGreen;
    }
    h5{
      margin-top: 2.75%;
    }
    #scroll{
      margin-top: 1%;
      width: inherit;
    }
    @include laptop{
      h1{
        font-size: $baseSize*6.5
      }
      h5{
        font-size: $baseSize*1.25
      }
    }
    @include mobile{
      max-width: 100%;
      h1{
        margin-top: 2.5%;
        font-size: $baseSize*4.5;
      }
      h5{
        font-size: $baseSize*0.95;
        margin-top: 7.5%;
      }
      #scroll{
        margin-top: 0%;
      }
    }
  }
  #about{
    padding-top: 5%;
    min-height: 350px!important;
    p{
      line-height: 1.75rem;
    }
    @include laptop{
      p{
        line-height: 1.5rem;
      }
    }
  }
}
footer{
  text-align: right;
  letter-spacing: 0.075rem;
  font-size: $baseSize*0.95;
  div{
    border-top: 1px lighten($baseColor, 50%) solid;
    padding: 1.75% 0% 1.75% 0%;
    margin: auto;
    width: 1366px;
    list-style: none;
    box-sizing: border-box;
    @include laptop{
      width: 966px;
    }
  }
  span a{
    font-weight: 600;
  }
  a i{
    margin-left: 0.5%;
  }
  a:hover, a i:hover{
    color: $baseGreen;
  }
  @include mobile{
    float: none;
    text-align: center;
    div{
      padding: 2.5%;
      width: 100%;
      span{
        width: 100%;
      }
    }
  }
}
.about-box{
  text-align: center;
  width: 30%;
}
#banner{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 0px 25px 0px;
  height: 300px;
  width: 100%;
  background-position: center;
  background-image: url('../img/about-banner.png');
  h5{
    text-align: center;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.05);
    background-color: rgba($baseWhite, 0.65);
    padding: 1.5%;
    display: inline;
    font-size: $baseSize*1.15;
    color: darken($baseColor, 12.5%);
    font-weight: 600;
  }
  &:hover h5{
    background-color: $baseWhite;
  }
  @include mobile{
    height: 200px;
    h5{
      margin: 2.5%;
      font-size: $baseSize*0.95;
    }
  }
}
form{
  width: 500px;
  padding: 1%;
}
label{
  margin-top: 5%;
  display: block;
  cursor: default;
  font-size: 1.15rem;
  @include laptop{
    margin-top: 5%;
    font-size: 1rem;
  }
}
input{
  font-size: 1rem;
  background-color: transparent!important;
  width: 100%;
  margin-top: 0.75%;
  padding: 2.5% 0% 2.5% 0%;
  outline: none;
  background: transparent!important;
  box-shadow: none!important;
  border: 0px transparent!important;
  border-bottom: 2px solid lighten($baseColor, 50%)!important;
  cursor: text;
  &:focus{
    border-color: $baseGreen!important;
  }
  @include laptop{
    margin-top: 0.5%;
    padding: 1.75% 0% 1.75% 0%;
    font-size: 0.9rem;
  }
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus{
  background-color: transparent!important;
}
button[type="submit"], #signup{
  @extend .cta-button;
  width: 245px;
  margin-top: 5%;
  padding: 2.5%;
  @include laptop{
    margin-top: 7.5%;
    padding: 1.75%;
    font-size:0.9rem;
  }
}
.success, .error{
  color: $baseGreen;
  font-weight: bold;
  padding: 5% 0% 0% 0%;
}
#signup{
  margin-left: 10px;
  a{
    color: $baseWhite;
    letter-spacing: 0.15rem;
  }
  &:hover a{
    color: $baseColor;
  }
}
@include mobile{
  form{
    width: 75%;
    margin: 0%;
  }
  input, label, button[type="submit"],#signup{
    margin: 2.5% 2.5% 0% 2.5%;
  }
  button[type="submit"],#signup{
    width: 100%;
    margin-top: 5%;
  }
  input, label{
    padding: 1%;
    font-size: $baseSize;
  }
}
.left{
  float: left!important;
}
.right{
  float: right!important;
}
#aboutinfo{
  width: 100%;
  .left, .right{
    width: 48%;
    margin-top: 1.5%;
  }
  .right{
    img{
      width: 100%;
    }
    height: 500px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../img/home.jpg');
    margin-left: 2.5%;
  }
}
.foodinfo{
  width: 100%;
  margin-left: 1.5%;
  .left,.right{
    vertical-align: top;
    margin: 2.5% 1.25% 2.5% 1.25%;
  }
  .left{
    width: 35%;
  }
  .right{
    width: 60%;
  }
  img{
    -webkit-box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    max-width: 90%;
  }
  h3{
    margin: 5% 0% 5% 0%;
    padding: 0%;
    color: $baseGreen;
    font-size:  $baseSize*2;
  }
  h5{
    margin: 2.5% 0% 2.5% 0%;
    font-size: $baseSize*1.05;
    span{
      color: $baseGreen;
      margin-right: 2.5%;
    }

  }
  p{
    font-size: $baseSize*1.15;
    span{
      font-weight: bold;
      color: $baseGreen;
      margin-right: 2.5%;
    }
    margin: 0% 0% 1.75% 0%;
  }
  @include laptop{
    h3{
      font-size: $baseSize*1.75;
    }
    h5{
      font-size: $baseSize*.915;
    }
    p{
      font-size: $baseSize;
    }
  }
  @include mobile{
    h3{
      font-size: $baseSize*1.5;
    }
    h5{
      font-size: $baseSize*.95;
    }
    p{
      font-size: $baseSize*.95;
    }
    .left, .right{
      margin: 0%;
      width: 100%;
    }
    margin-top: 7.5%;
    margin-bottom: 7.5%;
    img{
      max-width: 100%;
    }
  }
}
.foodcategory{
  margin-top: -3.5%;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, 0.05);
  width: 600px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  span{
    background-color: rgba($baseColor, 0.35);
    padding: 5%;
    cursor: pointer;
    color: $baseWhite;
    letter-spacing: 0.75rem;
    font-size: $baseSize*2.5;
  }
  &:hover{
    filter: brightness(80%);
  }
  @include laptop{
    width: 468px;
    height: 312px;
    span{
      font-size: $baseSize*1.75;
    }
  }
  @include mobile{
    width: 100%;
    span{
      margin-top: -15%;
    }
  }
}
#fc-herbs{
  margin-right: 15px;
  background-image: url('../img/food-herb.png');
}
#fc-recipes{
  margin-left: 15px;
  background-image: url('../img/food-recipes.png');
}
@include mobile{
  #fc-herbs{
    margin-top: 17.5%;
  }
  #fc-recipes{
    margin-top: -17.5%;
  }
  #fc-herbs, #fc-recipes{
    margin-left: 0%;
    margin-right: 0%;
  }
}
#signuptoday{
  h3,a{
    margin-left: 7.5%;
  }
  h3{
    font-size: $baseSize*1.75;
    margin-top: -5%;
  }
  align-items: flex-start;
  min-height: 450px;
  background-image: url('../img/bg.png');
  background-repeat: no-repeat;
  background-size: contain;
  @include laptop{
    h3{
      font-size: $baseSize*1.5;
    }
    min-height: 350px;
  }
  @include mobile{
    min-height: 175px;
    align-items: center;
    h3, a{
      margin-left: 0%;
    }
    h3{
      font-size: $baseSize*1.05;
      margin-bottom: 1.5%;
    }
    a{
      padding: 1%;
      font-size: $baseSize*0.6
    }
  }
}
.settings{
  width: inherit;
  float: left;
  margin-bottom: 2.5%;
}
.fa-pencil-square-o{
  font-size: $baseSize*1.25;
  &:hover{
    color: $baseGreen;
  }
}
#accountinfo{
  .info{
    text-align: center;
  }
  h3{
    width: 100%;
    margin-top: 0%;
    color: $baseGreen;
    font-size: $baseSize*5;
    span{
      color: $baseGreen;
    }
  }
  p{
    font-size: $baseSize*1.5;
    line-height: 2.5rem;
    span{
      font-weight: bold;
      margin-right: 2.5%;
    }

  }
  button{
    width: 200px;
    text-align: center;
    padding: 10px;
    margin-top: 5%;
  }
  @include laptop{
    p{
      font-size: $baseSize*1.25;
    }
    h3{
      font-size: $baseSize*3.5;
    }
  }
  @include mobile{
    p,h3,button{
      max-width: 75%!important;
      margin-left: auto;
      margin-right: auto;
    }
    p{
      font-size: $baseSize*1.05;
    }
    h3{
      font-size: $baseSize*2.5;
      line-height: 2.5rem;
    }
    button{
      width: 100%;
    }
  }
}
#foodinfo{
  .info{
    margin: auto;
    width: 750px;
    text-align: left;
  }
  h3{
    margin-top: 5%;
    color: $baseGreen;
    font-size: $baseSize*2.5;
  }
  p{
    padding: 2.5%;
    margin: 0% 0% 2.5% 0%;
    font-size: $baseSize;
    span{
      font-weight: bold!important;
      margin-right: 5%;
    }
    border-bottom: 1px $baseGreen solid;
  }
  button{
    width: 48%;
    margin-left: 1%;
    text-align: center;
    padding: 1.75%;
    margin-top: 1.5%;
  }
  @include mobile{
    .info{
      width: 100%;
    }
    h3{
      padding: 5% 0% 2.5% 2.5%;
      margin-top: 12.5%;
      font-size: $baseSize*1.5;
    }
  }
}
.gradient{
  max-width: 100vw!important;
  padding-top: 2.5%;
  background: -webkit-linear-gradient(left, #e6fcf3, #e6eefc); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #e6fcf3, #e6eefc); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #e6fcf3, #e6eefc); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #e6fcf3, #e6eefc); /* Standard syntax */
}
.formTitle{
  text-align: center;
  color: $baseGreen;
  font-size: $baseSize*2.5;
  margin: 0%;
  padding: 2.5% 0% 1.5% 0%;
}
.formTitle2{
  @extend .formTitle;
  padding: 0%;
  @include laptop{
    font-size: $baseSize*1.75;
  }
  @include mobile{
    margin-bottom: 5%;
  }
}
#checker{
  .checkerMsg{
    padding: 1.25% 0% 1.25% 0%;
  }
  table{
    display: none;
  }
  .formTitle{
    margin: 4.5% 0% 1% 0%;
  }
  padding-top: 2.5%;
}
#mobileChecker{
  .formTitle2{
    font-size: $baseSize;
  }
}
#pageloader, #tableloader{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  z-index: 5000;
}
.filter{
  display: flex;
  flex-direction: row;
  width: 97.5%;
  margin: 1.5% auto 2% auto;
  *{
    padding: 0.5%;
    margin: 0.5%;
    width: inherit;
    display: inline;
    float: left;
  }
  select{
    outline: none;
    width: 25%;
    font-size: $baseSize*0.95;
    &:hover, &:focus{
      border-color: $baseGreen;
    }
  }
  label{
    font-size: $baseSize*0.9;
    font-weight: bold;
    width: 5%;
  }
  input{
    width: 45%;
    margin-left: 2.5%;
  }
  button{
    width: 25%;
  }
  i{
    width: 1%;
  }
  @include mobile{
    width: 100%;
    flex-direction: column;
    select{
      width: 100%;
    }
    input{
      width: 100%;
      margin: 7.5% 0% 2.5% 0%;
    }
    button{
      margin-top: 2.5%;
      width: 100%;
    }
  }
}
.foodDir{
  justify-content: flex-start!important;
  .formTitle{
    padding-top: 5%;
  }
  table{
    text-align: left;
    td{
      padding: 0.5%;
    }
    thead th{
      padding: 2.5% 0.5% 2.5% 0.5%;
    }
    thead a{
      color: $baseGreen;
    }
    .actions{
      a{
        &:hover{
          color: $baseGreen;
        }
      }
    }
  }
  @include mobile{
    .formTitle{
      padding-top: 20%;
      font-size: $baseSize*1.75;
      line-height: 2rem;
    }
  }
}
.paginator{
  margin-top: 2.5%;
  width: 100%;
  ul{
    padding-left: 0%;
    li{
      display: inline;
      &:hover a{
        color: $baseGreen;
      }
    }
    list-style: none;
  }
}
