@import "mixins";
$baseColor: #404040;
$baseGreen: #309c8d;
$baseSize: 1rem;

*{
  letter-spacing: 0.035rem;
  font-family: 'Roboto', sans-serif;
  color: $baseColor;
  cursor: default;
  transition: all 0.25s!important;
}
a, i{
  color: $baseColor;
  cursor: pointer;
}
i{
  font-size: 1.5rem!important;
}
nav{
  position: fixed;
  width: 1366px;
  .nav-left{
    text-align: left;
  }
  .nav-right{
    float:right;
  }
  ul{
    margin:0%;
    width: 100%;
    height: 7.5vh;
    list-style: none;
    height: auto;
    box-sizing: border-box;
  }
  li{
    cursor: pointer;
    text-transform: uppercase;
    display: inline-block!important;
    padding: 3% 2% 0.75% 2%;
    border-bottom: transparent 2px solid;
    a{
      letter-spacing: 0.15rem;
    }
    &:hover a, &:hover i{
      color: $baseGreen;
    }
    &:hover{
      border-color: $baseGreen;
    }
  }
  @include laptop{
    width: 966px;
  }
}
.container{
  max-width: 1366px;
  margin:0% auto 0% auto!important;
  box-sizing: border-box;
  @include laptop{
    max-width: 966px;
  }
}
.content{
  padding: 0%;
  margin-bottom:0%;
  span{
    margin-top: 5%;
    font-size: $baseSize*1.5;
    color: lighten($baseColor, 25%);
  }
  section{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.box-wrapper{
  width: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-box{
  width: 30%;
  .about-img{
    width: 100%;
    height: 30vh;
    background-color: gray;
    margin-bottom: 7.5%;
  }
}
