@import "mixins";
$baseColor: #404040;
$baseGreen: #309c8d;
$baseWhite: #fcfcfc;
$baseBlue: #2EA1B3;
$baseSize: 1rem;

*{
  letter-spacing: 0.035rem;
  font-family: 'Roboto', sans-serif;
  color: $baseColor;
  cursor: default;
  transition: all 0.25s!important;
}
p{
  margin: 2.5% 0% 5% 0%;
  @include laptop{
    font-size: $baseSize*0.9
  }
}
a, a i{
  color: $baseColor;
  cursor: pointer;
}
nav{
  i{
    font-size: 1.5rem!important;
  }
  background-color: white;
  position: fixed;
  z-index: 10;
  width: 100vw;
  .nav-left{
    text-align: left;
  }
  .nav-right{
    float:right;
  }
  ul{
    margin: auto;
    width: 1366px;
    list-style: none;
    box-sizing: border-box;
    @include laptop{
      width: 966px;
    }
  }
  li{
    cursor: pointer;
    text-transform: uppercase;
    display: inline-block!important;
    padding: 2.5% 2% 1% 2%;
    border-bottom: transparent 2px solid;
    a{
      letter-spacing: 0.15rem;
      margin-bottom: -2.5px!important;
    }
    &:hover a, &:hover i{
      color: $baseGreen;
    }
    &:hover{
      border-color: $baseGreen;
    }
  }
}
.container{
  min-height: 100vh;
  position: relative;
  max-width: 1366px;
  margin:0% auto 0% auto!important;
  box-sizing: border-box;
  @include laptop{
    max-width: 966px;
  }
}

.cta-button{
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  font-size: $baseSize*0.8;
  border: 1px solid #b5b5b5;
  padding: 0.75% 1.25% 0.75% 1.25%;
  color: $baseColor;
  width: 100%;
  &:hover{
    background-color: transparent;
    border-color: $baseGreen;
    color: $baseGreen;
  }
  &:hover a{
    color: $baseGreen;
  }
}
.content{
  width: 96.25%;
  margin:0% auto 0% auto;
  padding: 0%;
  margin-bottom:0%;
  position: relative;
  h5{
    font-size: $baseSize*1.5;
    color: lighten($baseColor, 15%);
  }
  section{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 10%;
  }
  #home{
    margin-bottom: 0%;
    *{
      position: absolute;
    }
    h1{
      left: 0%;
      top: 30%;
      font-size: $baseSize*8.5;
      letter-spacing: 0.25rem;
      &:hover{
        color: $baseGreen;
      }
      @include laptop{
        font-size: $baseSize*5.5
      }
    }
    h5{
      left: 0.75%;
      top: 50%;
      @include laptop{
        font-size: $baseSize*1.25
      }
    }
    img{
      top: 15.5%;
      right: 0%;
      @include laptop{
        width: 350px;
      }
    }
    .cta-button{
      width: inherit;
      left: 0.75%;
      top: 60%;
    }
  }
}
footer{
  text-align: right;
  letter-spacing: 0.075rem;
  font-size: $baseSize*0.9;
  ul{
    margin: auto;
    width: 1366px;
    list-style: none;
    box-sizing: border-box;
    @include laptop{
      width: 966px;
    }
  }
  li{
    cursor: pointer;
    text-transform: uppercase;
    display: inline-block!important;
    padding: 1.5% 0% 1.5% 0.75%;
    i{
      font-size:  $baseSize*1.125!important;
    }
    a i:hover{
      color: $baseGreen;
    }
  }
}
.box-wrapper{
  width: inherit;
  display: flex;
  justify-content: space-between;
  align-items: top;
}
.about-box{
  width: 30%;
}
.about-img{
  width: 100%;
  height: 30vh;
  background-color: gray;
  margin-bottom: 7.5%;
}
#userinfo{
  text-align: center;
  position: fixed;
  top: 20%;
  width: 15%;
  h5{
    font-size: $baseSize*1.25;
    text-align: center;
    margin: 25px 0 25px 0;
  }
  .cta-button{
    padding: 5% 24% 5% 24%;
  }
}
#banner{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 0px 25px 0px;
  height: 300px;
  width: 100%;
  background-position: center;
  background-image: url('../img/about-banner.png');
  h5{
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.05);
    margin-top: -2.5%;
    background-color: rgba($baseWhite, 0.65);
    height: $baseSize*3.25;
    padding: 1.5%;
    display: inline;
    font-size: $baseSize*1.15;
    color: darken($baseColor, 12.5%);
    font-weight: 600;
  }
  &:hover h5{
    background-color: $baseWhite;
  }
}
label{
  cursor: default;
}
input{
  background: transparent!important;
  box-shadow: none!important;
  border: 0px transparent!important;
  border-bottom: 1px solid #ccc!important;
  cursor: text;
  &:focus{
    border-color: $baseGreen!important;
    background: white!important;
  }
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus{
  background-color: transparent!important;
}
button[type="submit"], #signup{
  @extend .cta-button;
  width: 240px;
  margin-top: 5%;
  padding: 2.5%;
  background-color: transparent;
}

#signup{
  margin-left: 20px;
  a{
    letter-spacing: 0.15rem;
  }
  &:hover a{
    color: $baseGreen;
  }
}
form{
  margin-top: -7.5%;
  width: 500px;
}
.foodinfo{
  width: 100%;
  margin-left: 1.5%;
  .left,.right{
    vertical-align: top;
    margin: 2.5% 1.25% 2.5% 1.25%;
  }
  .left{
    width: 35%;
  }
  .right{
    width: 60%;
  }
  img{
    max-width: 90%;
  }
  h3{
    margin: 5% 0% 2.5% 0%;
    padding: 0%;
    color: $baseGreen;
    font-size:  $baseSize*2;
    @include laptop{
      font-size: $baseSize*1.75;
    }
  }
  h5{
    margin: 2.5% 0% 2.5% 0%;
    font-size: $baseSize*1.05;
    span{
      color: $baseGreen;
      margin-right: 2.5%;
    }
    @include laptop{
      font-size: $baseSize*.915;
    }
  }
  p{
    font-size: $baseSize*1.25;
    @include laptop{
      font-size: $baseSize;
    }
    span{
      color: $baseGreen;
      margin-right: 2.5%;
    }
    margin: 0% 0% 1.75% 0%;
  }
}
.foodcategory{
  -webkit-box-shadow:  inset 0px 0px 0px 10px rgba(255, 255, 255, 0);
  width: 600px;
  height: 450px;
  margin: 0% 15px 2.5% 15px;
  @include laptop{
    width: 425px;
    height: 325px;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0d0d0d;
  float: left;
  span{
    cursor: pointer;
    color: $baseWhite;
    letter-spacing: 0.75rem;
    font-size: $baseSize*2.5;
    @include laptop{
      font-size: $baseSize*1.75;
    }
  }
  &:hover{
    -webkit-box-shadow: inset 0px 0px 0px 10px $baseGreen;
  }
}
.settings{
  width: inherit;
}
